---
import type { HTMLAttributes } from 'astro/types'
import Tooltip from './react/Tooltip'
import '../styles/headingLink.css'

type Props = HTMLAttributes<'button'> & {
  class?: string
  id?: string
  tag?: string
}

const { class: className, id, tag, ...props } = Astro.props

const { pathname, href } = Astro.url
const subpath = pathname.match(/[^\/]+/g)
const isActive = href === pathname || href === '/' + subpath?.[0]

const url = `${Astro.url.origin}${pathname}#${id}`

---

<script>
  const buttons = document.querySelectorAll('button.heading-anchor')

  buttons.forEach((button) => {
    button.addEventListener('click', (e) => {
      const btn = e.target as HTMLButtonElement
      const url = btn.dataset.url as string
      navigator.clipboard.writeText(url)
    })
  })
</script>

<div class="heading-container">
  <Tooltip 
  url={url}
  tag={tag}
  client:load 
  />
  <slot />
</div>

<style>
  div {
    position: relative;
  }

</style>
